section {
    margin: 20px 0;
    padding: 20px;
    background-color: #F8E5DF; 
    border-radius: 12px; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #748AA7; 
    color: #F8E5DF;
    margin-top: 40px; 
}

aside a {
    text-decoration: none;
    color: #23B5A3; 
    font-weight: bold;
    display: inline-block;
    margin: 10px 0;
}

header {
    background-color: #748AA7; 
    padding: 10px 20px;
    color: #F8E5DF;
    border-radius: 8px;
}

nav {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    padding: 8px 16px;
    color: #F8E5DF; 
    background-color: #3276B6; 
    border-radius: 5px;
}

nav a:hover {
    background-color: #23B5A3; 
    color: #F8E5DF; 
}

main {
    padding: 20px;
}

aside {
    margin: 20px 0;
    padding: 10px;
    background-color: #F8E5DF; 
    border-radius: 8px;
}

section {
    background-color: #F8E5DF; 
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}


@media screen and (max-width: 768px) { /*pentru telefoane */
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        font-size: 16px;
    }
}

@media print {
    body {
        background-color: white;
        color: black;
    }

    nav {
        display: none;
    }

    iframe {
        display: none;
    }
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.video-gallery iframe {
    flex: 1 1 300px; 
    max-width: 45%;
}


@media screen and (max-width: 768px) {
    .video-gallery {
        flex-direction: column;
        align-items: center;
    }

    .video-gallery iframe {
        width: 100%;
    }
}
